
body {
    background-image: url("/static/images/snatch_bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

#signin-box {
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 68px;
    font-family: impact;
}


#wl_logo p {
    flex: auto;
    color: rgb(255, 255, 87);
}


#signin a {
    cursor: pointer;
    flex: auto;
    color: white;

}