/* make/miss footer button settings */
nav {
    font-size: 2rem;
    background-color: rgb(28, 28, 28);
    
}
 /* flex container */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    cursor: pointer;
    flex: auto;
    text-align: center;
    font-family:Impact;
    color: white;
    text-decoration: none;
    border: 2px solid rgb(250, 208, 22);
}



table {
    border: 2px solid rgb(250, 208, 22);
}

h1 {
    color: white;
    font-family: Arial;
}

table {
    color: white;
    font-family: Arial;
}

