html {
    background: black;
}

body {
    height: 100vh;
    background-image: url("../images/jerk_bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.container {
    background: white;
    width: 50vw;
    margin: 0 auto;
}

.table-container {
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
