/* make/miss footer button settings */
nav {
    font-size: 2rem;
    background-color: rgb(28, 28, 28);
    
}
 /* flex container */

table {
    border: 2px solid rgb(250, 208, 22);
}

h1 {
    color: white;
    font-family: Arial;
}

table {
    color: white;
    font-family: Arial;
}

.button-group {
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: Arial;
    text-decoration: none;
    
}

.button-group button {
    border: 2px solid rgb(250, 208, 22);
}