:root {
    --nav-color: rgba(0, 0, 0, .75);
    --accent-color: rgba(255, 255, 87, 1);
}

/* background */
body {
    box-shadow: inset 0 0 15em 4em #000;
    background-image: url("/static/images/home_bg.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* =============NAVBAR JUNK =================== */
header {
text-align: center;
position: sticky;
top: 0;
z-index: 999;
width: 100%;
height: 2em;
margin: 0;
}
nav {
position: absolute;
text-align: left;
top: 100%;
left: 0;
width: 100%;
transform: scale(1, 0);
transform-origin: top;
transition: transform 200ms ease-in-out;
margin-bottom: 0;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-direction: column;
}

nav li {
width: 100%;
background: var(--accent-color);
padding: .5em 0;
}

nav a {
color: black;
text-decoration: none;
font-size: 1.4rem;
font-weight: 600;
margin: .5em;
text-transform: uppercase;
opacity: 0;
transition: opacity 100ms ease-in-out;
}

.nav-toggle:checked ~ nav{
transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
opacity: 1;
transition: opacity 150ms ease-in-out 120ms;
}
.nav-toggle {
display: none;
}
.nav-toggle-label {
position: absolute;
top: 0;
left: 0;
margin-left: 1em;
height: 100%;
display: flex;
align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
display: block;
background: var(--accent-color);
height: 2px;
width: 2em;
position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
content: '';
position: absolute;
}

.nav-toggle-label span::before {
bottom: 8px;
}

.nav-toggle-label span::after {
top: 8px;
}
/* ========== DESKTOP RESPONSIVE =============== */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        top: 0;
        background: var(--nav-color); 
        padding: .5em;
        display: flex;
        justify-content: center;

    }
    nav {
        /* unsupported by edge browser */
        all: unset;
        
        /* adding edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        top: initial;
        left: initial;
        width: 75vw;

    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav li {
        margin-bottom: 0;
        background: var(--nav-color);
        text-align: center;
    }
    nav a {
        opacity: 1;
        position: relative;
        color: white;
    }
    nav a:hover {
        color: var(--accent-color);
        text-decoration: none;

    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--hover-color);
        position: absolute;
        bottom: -.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 150ms;
    }
    nav a:hover::before {
        transform: scale(1,1);
    }
}
/* =========== END NAV SECTION ================= */

.container {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.page-title {
    text-align: center;
    font-size: 3em;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 400;
    margin: .5em;
}
/* =========== HOME PAGE ========== */
.yellow-w {
    color: var(--accent-color);
}
form {
    margin: 0 auto;
}
.button-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
button {
    width: 75vw;
    background: rgba(255, 255, 255, .9);
    margin: .25em auto;
    font-size: 1.6em;
    font-weight: 400;
    padding: .5em 0;
    border-radius: none;
    border: none;
}
@media screen and (min-width: 800px) {
    button {
        width: 50vw;
        font-size: 1.8em;
        padding: 1em 0;
    }
    button:hover {
        background: var(--accent-color);
        opacity: .9;
        cursor: pointer;
    }
}


/* ============== OPTIONS PAGE =============== */
.totals-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.total-form {
    text-decoration: none;
}
input {
    width: 100%;
    padding: 1em 0;
    margin: 8px auto;
    border:none;
    outline: none;
    background-color: rgba(255, 255, 255, .9); 
    text-indent: .5em;
    font-size: 1.2em;
}
input::placeholder {
    color: black;
    }
.submit-button {
    margin: 8px auto;
    background-color: white; 
    border: none;
    color: black;
}

.options-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.options-buttons {
    width: 100%;
    margin: 0 auto;
}

#option-button {
    margin: 8px auto;
    background-color: white; 
    border: none;
    color: black;
}


@media screen and (min-width: 800px) {
    .totals-container,
    .options-container {
        width: 50vw;
        margin: 0 auto;
    }
    .submit-button:hover,
    #option-button:hover {
        background-color: var(--accent-color);
        opacity: .9;
    }

}


