<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}main-base{% endblock %}</title>

    <!-- custom -->
    <link 
    rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='css/auth.css') }}"
    />

</head>
<body>


    <!-- flash message logic -->
    <!-- gets flashed messages from the server for display (i.e. error, success w/forms) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- check if message was flashed -->
    {% if messages %}
        <!-- loop through category per message (i.e. 'error', 'success') -->
        {% for category, message in messages %}
            {% if category == 'error' %}
            <!-- these are the alerts that will appear if a message is flashed 'error' -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <!-- these are the alerts that will appear if a message is flashed 'success' -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <!-- this is the button that you click to dismiss the alert -->
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block body %} 
    
        {% endblock %}
    </div>

    <!-- url_for provides the filepath to the 'static' folder containing custom .js -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
    
</body>
</html>