<!DOCTYPE html>
<html lang="en">
<head>
    <!-- boilerplate achieved by !+TAB when starting a new html file -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap stylesheets for making the site pretty, literally just copy/paste-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link 
    rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='styles.css') }}"
    />


    <!-- can be overridden in templates that inherit this template -->
    <title>{% block title %} base template {% endblock %}</title>
</head>
<body>
    
    <!-- navigation bar lives at the top of every page -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- button that shows/hides navbar if the screen is too small to fit all buttons -->
        <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- these are the options that live in the navbar -->
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <!-- check if user is logged in to display certain options -->
                {% if user.is_authenticated %}
                <!-- nav-items are buttons with routes -->
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Log Out</a>
                <a class="nav-item nav-link" id="options" href="/options">Options</a>
                {% else %}
                <a class="nav-item nav-link" id="login" href="/login">Log In</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                {% endif %}
            </div>
        </div>  
    </nav>
    <!-- gets flashed messages from the server for display (i.e. error, success w/forms) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- check if message was flashed -->
        {% if messages %}
            <!-- loop through category per message (i.e. 'error', 'success') -->
            {% for category, message in messages %}
                {% if category == 'error' %}
                <!-- these are the alerts that will appear if a message is flashed 'error' -->
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <!-- these are the alerts that will appear if a message is flashed 'success' -->
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <!-- this is the button that you click to dismiss the alert -->
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>

    <!-- js code for site interaction/movement, copy/paste -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- url_for provides the filepath to the 'static' folder containing custom .js -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>

</body>
</html>