{% extends "session-base.html" %}

{% block title %} clean {% endblock %}

{% block body %}
<div class="table-container">
<p class="set-title">3-POSITION CLEAN</p>
    <table class="table table-dark table-striped">     
        {% for set in three_position %}
            <tr>
                <td>
                    <p>
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class="set-title">FRONT SQUAT</p>
    <table class="table table-dark table-striped">     
        {% for set in front_squat %}
            <tr>
                <td>
                    <p>
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class="set-title">OVERHEAD PRESS</p>
    <table class="table table-dark table-striped">     
        {% for set in push_press %}
            <tr>
                <td>
                    <p>
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class="set-title">SNATCH PRESS</p>
    <table class="table table-dark table-striped">     
        {% for set in snatch_press %}
            <tr>
                <td>
                    <p>
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}