{% extends "base.html" %}

{% block title %} clean {% endblock %}

{% block body %}

<br />
<div class="jumbotron">
<h1 align="center"> let's go. </h1>
    <h1>3-position clean</h1>
    <table class="table table-dark table-striped">
        <tr>
            <td><h3>{{ three_position["set_1"][0] }} reps @ 
                    {{ "%.2f"|format(three_position["set_1"][1] * max) }} lbs,
                    {{ three_position["set_1"][2] }} set(s)</h3></td>
        </tr>
        <tr>
            <td><h3>{{ three_position["set_2"][0] }} reps @ 
                    {{ "%.2f"|format(three_position["set_2"][1] * max) }} lbs,
                    {{ three_position["set_1"][2] }} set(s)</h3></td>
        </tr>
    </table>

    <h1>front squat</h1>
    <table class="table table-dark table-striped">
        <tr>
            <td><h3>{{ front_squat["set_1"][0] }} reps @ 
                    {{ "%.2f"|format(front_squat["set_1"][1] * max) }} lbs, 
                    {{ front_squat["set_1"][2] }} set(s)</h3></td>
        </tr>
        <tr>
            <td><h3>{{ front_squat["set_2"][0] }} reps @ 
                    {{ "%.2f"|format(front_squat["set_2"][1] * max) }} lbs, 
                    {{ front_squat["set_2"][2] }} set(s)</h3></td>
        </tr>
        <tr>
            <td><h3>{{ front_squat["set_3"][0] }} reps @ 
                    {{ "%.2f"|format(front_squat["set_3"][1] * max) }} lbs, 
                    {{ front_squat["set_3"][2] }} set(s)</h3></td>
        </tr>

    </table>

    <h1>overhead press</h1>
    <table class="table table-dark table-striped">

    </table>
    <h1>snatch press</h1>
    <table class="table table-dark table-striped">
        
    </table>
</div>

<br />
    
{% endblock %}