{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block body %}
<!-- redirects to session page after button click confirmation -->
<script>
function beginSession(page) {
    if(confirm('begin session?') == true) {
        window.location.replace(page);            
    }
    else { 
        return false;
    }          
}
</script>

        <h2 align="center" class="page-title">select your <span class="yellow-w">w</span>orkout.</h2>

        <form class="button-group" method="POST">
            <button 
            id="/squat" 
            type="button"
            class="session-button" 
            onclick="beginSession(this.id)" 
            name="squat"\
            >
            squat
            </button>

            <button 
            id="/snatch" 
            type="button"
            class="session-button" 
            onclick="beginSession(this.id)" 
            name="snatch"
            >
            snatch
            </button>

            <button 
            id="/clean" 
            type="button"
            class="session-button" 
            onclick="beginSession(this.id)" 
            name="clean"
            >
            clean
            </button>

            <button 
            id="/clean_jerk" 
            type="button"
            class="session-button" 
            onclick="beginSession(this.id)" 
            name="clean_jerk"
            >
            snatch / clean & jerk
            </button>

        </form>




{% endblock %}