{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block body %}
<!-- redirects to session page after button click confirmation -->
<script>
function beginSession(page) {
    if(confirm('begin session?') == true) {
        window.location.replace(page);            
    }
    else { 
        return false;
    }          
}
</script>
<br />

    <h2 align="center" class="title">select your workout.</h2>

    <form class="button-group" method="POST">
        <button 
        id="/squat" 
        type="button"
        class="btn btn-dark btn-lg btn-block" 
        onclick="beginSession(this.id)" 
        name="squat"\
        >
        <h1>squat</h1>
        </button>

        <button 
        id="/snatch" 
        type="button"
        class="btn btn-dark btn-lg btn-block" 
        onclick="beginSession(this.id)" 
        name="snatch"
        >
        <h1>snatch</h1>
        </button>

        <button 
        id="/clean" 
        type="button"
        class="btn btn-dark btn-lg btn-block" 
        onclick="beginSession(this.id)" 
        name="clean"
        >
        <h1>clean</h1>
        </button>

        <button 
        id="/clean_jerk" 
        type="button"
        class="btn btn-dark btn-lg btn-block" 
        onclick="beginSession(this.id)" 
        name="clean_jerk"
        >
        <h1>snatch / clean & jerk</h1>
        </button>

    </form>



{% endblock %}