<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title> 

    <!-- our own styles -->
    <link 
    rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='css/main_page.css') }}"
    />


</head>
<body>
    <div id="wl_logo">
        <p>wl_</p>
    </div>
    <div id="signin">
        <a href="/sign-in">sign in</a>
    </div>

</body>
</html>