<!DOCTYPE html>
<html lang="en">
<head>
    <!-- boilerplate achieved by !+TAB when starting a new html file -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css -->
    <link 
    rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='css/session.css') }}"
    />
    
    <!-- bootstrap stylesheets for making the site pretty, literally just copy/paste-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- can be overridden in templates that inherit this template -->
    <title>{% block title %} base template {% endblock %}</title>
</head>
    <body>
        <!-- boostrap overrides -->
        <style type="text/css">
            body { background: black !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
        </style>
        <style type="text/css">
            button { background: rgb(28, 28, 28) !important; }
        </style>


    <!-- redirects to session page after button click confirmation -->
    <script>
        function go_home() {
            if(confirm('are you sure?') == true) {
                window.location.replace("/home");            
            }
            else { 
                return false;
            }          
        }


        function updateMax() {
            if(confirm('finished up?') == true) {
                window.location.replace(url_for("views.home"));
            }
            else {
                return false;
            }
        }


    </script>


        <div class="container">
            {% block body %}

            {% endblock %}
            
        </div>

        <nav class="miss-make-footer">
            <ul>
                <li>
                    <form method="POST">
                        <input 
                        onclick="return confirm('submit session?')"
                        type="submit"
                        value="make"
                        name="make_lift">
                    </form>
                </li>
                <li>
                    <form method="POST">
                        <input 
                        onclick="return confirm('submit session?')"
                        type="submit"
                        value="miss"
                        name="miss_lift">
                    </form>
                </li>
                <li onclick="go_home()">bail</li>
            </ul>
        </nav>

        

        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        ></script>
        <!-- url_for provides the filepath to the 'static' folder containing custom .js -->
        <script
        type="text/javascript"
        src="{{url_for('static', filename='index.js')}}"
        ></script>
        
    </body>
</html>