<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css -->
    <link 
    rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='css/session.css') }}"
    />
    
    <title>{% block title %} base template {% endblock %}</title>
</head>
    <body>
       
        <div class="container">
            {% block body %}

            {% endblock %}
            <div class="button-group-container">
                <form  class="button-group" method="POST">
                    <button 
                    id="make_lift" 
                    type="submit"
                    class="btn btn-dark btn-lg btn-block" 
                    onclick="return confirm('submit lift?')"  
                    name="make_lift"
                    >
                    <p>MAKE</p>
                    </button>
    
                    <button 
                    id="miss_lift" 
                    type="button"
                    class="btn btn-dark btn-lg btn-block" 
                    onclick="go_home()" 
                    name="miss_lift"
                    >
                    <p>MISS</p>
                    </button>
                </form>
            </div>
        </div>


        <script
        type="text/javascript"
        src="{{url_for('static', filename='index.js')}}"
        ></script>

    <!-- redirects to session page after button click confirmation -->
    <script>
        function go_home() {
            if(confirm('are you sure?') == true) {
                window.location.replace("/home");            
            }
            else { 
                return false;
            }          
        }
        function updateMax() {
            if(confirm('finished up?') == true) {
                window.location.replace(url_for("views.home"));
            }
            else {
                return false;
            }
        }

        function makeLift() {
            if(confirm('submit lift?') == true){
                window.location.replace("/home");
            }
            else {
                return false;
            }
        }
    </script>
        
    </body>
</html>