{% extends "base.html" %}

{% block title %}sign up{% endblock %}

{% block body %}
<h1 align="center">This is the sign-up page.</h1>
<!-- forms exist to pass data/communication between frontend and server -->
<!-- information passed through forms can be used elsewhere in the app -->
<form method = "POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <!-- label references the input name -->
        <label for="email">Email Address</label>
        <!-- 'name' attribute is largely used in requests -->
        <input 
        autofocus
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter Email"
        />
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="firstName" 
        name="firstName" 
        placeholder="Enter First Name"
        />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter Password"
        />
    </div>
    <div class="form-group">
        <label for="confirmation">Password (Confirm)</label>
        <input 
        type="password" 
        class="form-control" 
        id="confirmation" 
        name="confirmation" 
        placeholder="Confirm Password"
        />
    </div>
    <!-- <br /> provides spacing between elements -->
    <br />
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock %}