{% extends "session-base.html" %}

{% block title %} snatch {% endblock %}

{% block body %}

    <div class="table-container">
        <p class="set-title">3-POSITION SNATCH</p>
        <table class="table table-dark table-striped">     
            {% for set in three_position %}
                <tr>
                    <td>
                        <p>
                            {{ set[0] }} reps @,
                            {{ "%.2f"|format(set[1] * max) }} lbs,
                            {{ set[2] }} set(s)
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p class="set-title">SNATCH PULL</p>
        <table class="table table-dark table-striped">     
            {% for set in snatch_pull %}
                <tr>
                    <td>
                        <p>
                            {{ set[0] }} reps @,
                            {{ "%.2f"|format(set[1] * max) }} lbs,
                            {{ set[2] }} set(s)
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p class="set-title">DROP SNATCH</h1>
        <table class="table table-dark table-striped">     
            {% for set in drop_snatch %}
                <tr>
                    <td>
                        <p>
                            {{ set[0] }} reps @,
                            {{ "%.2f"|format(set[1] * max) }} lbs,
                            {{ set[2] }} set(s)
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

   

{% endblock %}