{% extends "base.html" %}

{% block title %} options {% endblock %}

{% block body %}

<br />
<div class="jumbotron bg-secondary text-white">
<h1 align="center" class="display-1"> let's go. </h1>
    <h1 class="display-4 font-weight-bold">3-position snatch</h1>
    <table class="table table-dark table-striped">     
        {% for set in three_position %}
            <tr>
                <td>
                    <h3 class="display-4">
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </h3>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h1 class="display-4 font-weight-bold">snatch pull</h1>
    <table class="table table-dark table-striped">     
        {% for set in snatch_pull %}
            <tr>
                <td>
                    <h3 class="display-4">
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </h3>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1 class="display-4 font-weight-bold">drop snatch</h1>
    <table class="table table-dark table-striped">     
        {% for set in drop_snatch %}
            <tr>
                <td>
                    <h3 class="display-4">
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs,
                        {{ set[2] }} set(s)
                    </h3>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<br />
    
{% endblock %}