{% extends "session-base.html" %}

{% block title %} squat {% endblock %}

{% block body %}


    <h1>warmup</h1>
    <table class="table table-dark table-striped">     
        {% for set in warmup %}
            <tr>
                <td>
                    <h3>
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs
                    </h3>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1>main sets</h1>
    <table class="table table-dark table-striped">     
        {% for set in main %}
            <tr>
                <td>
                    <h3>
                        {{ set[0] }} reps @,
                        {{ "%.2f"|format(set[1] * max) }} lbs
                    </h3>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1>volume</h1>
    <table class="table table-dark table-striped">
        {% for n in range(4) %}
        <tr>
            <td><h3>{{ volume[0][0] }} reps @ 
                {{ "%.2f"|format(max * volume[0][1]) }} lbs</h3></td>
        </tr>
        {% endfor %}
        
    </table>




{% endblock %}

<!-- try to add radials or checks -->
<!-- if not all checks, then failed lift -->
<!-- else increase max by 2% -->