{% extends "base.html" %}

{% block title %} squat {% endblock %}

{% block body %}

<h1 align="center"> let's go. </h1>

<h2 align="center">warmup</h2>

<h3> {{ warmup["set_1"][0] }} reps @ {{ max * warmup["set_1"][1] }} lbs</h3>
<h3> {{ warmup["set_2"][0] }} reps @ {{ max * warmup["set_2"][1] }} lbs</h3>
<h3> {{ warmup["set_3"][0] }} reps @ {{ max * warmup["set_3"][1] }} lbs</h3>

<h2 align="center">main sets</h2>

<h3> {{ main["set_1"][0] }} reps @ {{ max * main["set_1"][1] }} lbs </h3>
<h3> {{ main["set_2"][0] }} reps @ {{ max * main["set_2"][1] }} lbs </h3>
<h3> {{ main["set_3"][0] }} reps @ {{ max * main["set_3"][1] }} lbs </h3>

{% endblock %}

<!-- try to add radials or checks -->
<!-- if not all checks, then failed lift -->
<!-- else increase max by 2% -->