nav {
    font-size: 2rem;
    background-color: #1d1d1d;
    
}
 /* flex container */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    cursor: pointer;
    padding: 0.5 rem;
    flex: auto;
    text-align: center;
    font-family:Impact;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

/* responsive navbar */
@media all and (max-width: 600px) {

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }

}

